{% extends "base.html.twig" %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas repudiandae in molestias neque, maxime eaque voluptates impedit ad quasi cumque nobis perferendis suscipit nulla laborum excepturi possimus quaerat ipsa sapiente, consectetur sequi optio porro aliquam veritatis! Ut officiis quam pariatur!</p>
    <p>Assumenda quod non nobis excepturi consequatur nemo beatae atque dolore hic qui, eligendi perspiciatis consequuntur doloremque mollitia tenetur velit voluptates! In, odit nisi nostrum perspiciatis non animi voluptates, corporis eligendi, totam eius aliquam ab. Architecto delectus tenetur facilis quia esse?</p>
    
{% endblock %}